.bg {
  background-image: url("../../../../assets/images/bg-4.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  overflow: hidden;
  width: 100%;
}
